# Environment Configuration for DineDesk

DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@localhost:5432/dinedesk?schema=public"

PORT=3000
JWT_SECRET="dinedesk-jwt-secret-key-production-grade-2026"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
